.root {
    --color1: #ffba08;
    --color2: #faa307;
    --color3: #f48c06;
    --color4: #e85d04;
    --color5: #dc2f02;
    --color6: #d00000;
    --color7: #9d0208;
    --color8: #6a040f;
    --color9: #370617;
    --color10: #03071e;
}

/*https://coolors.co/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08*/

