* {
    width: 100%;

}

body {
    display: grid;
}


header {
    color: white;
    background-color: rgb(80, 80, 80);
    display: grid;
    grid-template-rows: 2fr 1fr;
}

nav {
    display: flex;
    background-color: black;
    height: 3rem;
}

a {
    text-decoration: none;
    align-content: center;
    color: white;
    padding: 1rem;
    text-align: center;
}

p {
    padding: 0.05rem 1rem;
}

main {
    background-color: rgb(197, 197, 197);
}

div {
    display: grid;
    height: 14rem;
    grid-template-columns: 3fr 1fr;
}

footer {
    color: white;
    background-color: rgb(80, 80, 80);
    height: 8rem;
    text-align: center;
}