:root {
    --primary-color: #022b3a;
    --secundary-color: #1f7a8c ;
    --third-color: #bfdbf7;
    --fourth-color: #fdf364;
}

* {
    width: 100%;
}

nav {
    display: flex;
    background-color: var(--primary-color);
}

nav ul {
    display: flex;
    list-style-type: none;
    ;
}

nav ul a {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a:hover {
	text-decoration: underline;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 70%;
    align-content: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 1rem;
}

section img {
    width: 150px;
}

section {
    margin: 1rem;
    border: 3px solid black;
    border-radius: 14px;
}

h1 {
    background-color: var(--secundary-color);
    padding: 2rem;
    text-align: center;
}

h2 {
    background-color: var(--secundary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}

footer {
    background-color: var(--secundary-color);
    padding: 1rem;
    text-align: center;
}

.resalt {
    color: var(--fourth-color);
}

.card {
    /*padding: 1rem;*/
    /*display: grid;*/
    /*grid-template-columns: 2fr 1fr;*/
    /*border: 3px solid black;*/
    /*padding: 1rem;*/
    /*margin: 1rem;*/
}