:root {
    --primary-color: #022b3a;
    --secundary-color: #1f7a8c ;
    --third-color: #bfdbf7;
    --fourth-color: #fdf364;
    --font1: 'Lora';
    --font2: 'Raleway'
}

* {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

h1, h2, h3 {
    font-family: var(--font1);
}

h2 {
    text-align: center;
}

h3 {
    color: var(--fourth-color);
    padding: 1rem;
    text-align: center;

    width: 200px;
}

figcaption, p, a {
    font-family: var(--font2);
    text-align: center;
}

main { 
    max-width: 850px;
    margin: 0 auto;
}

footer {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
}

.resalt {
    color: var(--fourth-color);
}

p {
    color: var(--third-color);
}

h1 {
    display: block;
    padding: 0.6rem;
    color: var(--third-color);
}

ul {
    list-style-type: none;

}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}


nav a {
    display: flex;
    text-decoration: none;
    color: var(--third-color);
    padding: 1rem;
}


.princ {
    background-color: var(--primary-color);
    color: var(--third-color);
    
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.navigation a:hover {
	background-color: var(--secundary-color);
	color: #333;
	font-weight: 700;
}

.container {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    /*place-items: center;*/
    padding: 1rem;
}

section {
    width: auto;
    height: 100%;
    box-sizing: content-box;
    margin: 0;
    /*align-items: center;*/
    /*justify-items: center;*/
    align-content: center;

    border: 1px solid var(--primary-color);
    background-color: var(--secundary-color);
    border-radius: 10px;

    img {
        aspect-ratio: auto;
    }

}

section p {
    font-size: small;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
    content: "☰";
    float: right;
    color: var(--third-color);
}

#menu.open::before {
    content: "❌";
}


.open a {
	display: block;
}

.open h1 {
    display: none;
}



