:root {
    --primary-color: #022b3a;
    --secundary-color: #1f7a8c ;
    --third-color: #bfdbf7;
    --fourth-color: #fdf364;
    --font1: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: var(--font1);
}

.cursive {
    color: rgb(0, 12, 82);
    font-style: italic;
}

header {
    background: var(--primary-color);
    color: var(--third-color);
}

main {
    box-sizing: border-box;
    max-width: 400px;
    margin: 0 auto;
}

form {
    background: var(--third-color);
    margin: 1rem;
}

fieldset {
    box-sizing: border-box;
    padding: 0.6rem 1rem;
    border: none;
}

h1 {
    align-content: center;
    text-align: center;
    padding: 1rem;
}

input, select {
    font-size: large;
}

.rating {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}

.rating > label {
    box-sizing: border-box;
	height: 35px;
	font-size: 2rem;
    padding: 0 0.1rem 0 1rem;
    justify-content: space-between;
	display: flex;
	align-items: center;
}

.rating > label::before {
	content: "🖤";
}

.rating input:checked ~ label::before {
	content: "💝";
}

.rating input {
    display: none;
}



.check section {
    display: grid;
    width: 0;
    padding: 1rem 0;
}

.check section label {
    display: grid;
    grid-column-start: 2;
    padding-top: 0.3rem;
}

input[type=checkbox] {
    width: 40px;
    padding: 1rem ;
}

.check section input {
    width: 30px;
    height: 20px;
    padding: 1rem;
    margin: 0.3rem 0;
}

p {
    color: var(--third-color);
}

.button {
    height: auto;
    background: var(--primary-color);
    color: var(--third-color);
    font-size: x-large;
    padding: 0.5rem;
}

.button:hover {
    background: var(--fourth-color);
    color: var(--primary-color);
}

footer {
    background-color: var(--primary-color);
    padding: 1rem 0;
    text-align: center;
}

span {
    color: var(--fourth-color);
}

.counter {
    font-size: x-large;
    color: var(--primary-color);
}

@media screen and (max-width: 650px) {
    * {
        font-size: x-large;
    }



    input, select {
        font-size: xx-large;
    }

    .rating > label {
        box-sizing: border-box;
        padding-top: 0.5rem;
        height: 35px;
        font-size: 1rem;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
}